USE [master]
GO
/****** Object:  Database [StockManagementDB]    Script Date: 24-Jul-26 5:53:54 PM ******/
CREATE DATABASE [StockManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockManagementDB]
GO
/****** Object:  Table [dbo].[tbl_Products]    Script Date: 24-Jul-26 5:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](150) NOT NULL,
	[SKU] [varchar](50) NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[CurrentStock] [int] NULL,
	[ReorderLevel] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PurchaseLedger]    Script Date: 24-Jul-26 5:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PurchaseLedger](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[QuantityAdded] [int] NOT NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[PurchaseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SalesLedger]    Script Date: 24-Jul-26 5:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SalesLedger](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantitySold] [int] NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[SaleDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Suppliers]    Script Date: 24-Jul-26 5:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](150) NOT NULL,
	[Phone] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[SupplierCode] [varchar](20) NULL,
	[ContactPerson] [varchar](100) NULL,
	[ContactPersonNo] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Country] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[PinCode] [varchar](10) NULL,
	[Address] [varchar](300) NULL,
	[GSTIN] [varchar](20) NULL,
	[PAN] [varchar](20) NULL,
	[BankName] [varchar](150) NULL,
	[AccountHolderName] [varchar](150) NULL,
	[AccountType] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[IFSCCode] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 24-Jul-26 5:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [varchar](100) NULL,
	[Role] [varchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Products] ON 

INSERT [dbo].[tbl_Products] ([ProductID], [ProductName], [SKU], [CostPrice], [CurrentStock], [ReorderLevel], [CreatedDate]) VALUES (1, N'LED ', N'SKU001', CAST(200.00 AS Decimal(18, 2)), 50, 10, CAST(N'2026-06-05T16:17:48.460' AS DateTime))
INSERT [dbo].[tbl_Products] ([ProductID], [ProductName], [SKU], [CostPrice], [CurrentStock], [ReorderLevel], [CreatedDate]) VALUES (2, N'Wireless Mouse 001', N'MS-001', CAST(15.50 AS Decimal(18, 2)), 120, 20, CAST(N'2026-06-05T17:47:01.137' AS DateTime))
INSERT [dbo].[tbl_Products] ([ProductID], [ProductName], [SKU], [CostPrice], [CurrentStock], [ReorderLevel], [CreatedDate]) VALUES (3, N'Mechanical Keyboard 1', N'KB-202', CAST(45.00 AS Decimal(18, 2)), 80, 15, CAST(N'2026-06-05T17:47:01.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_PurchaseLedger] ON 

INSERT [dbo].[tbl_PurchaseLedger] ([PurchaseID], [ProductID], [SupplierID], [QuantityAdded], [PurchasePrice], [PurchaseDate]) VALUES (1, 1, 101, 50, CAST(15.50 AS Decimal(18, 2)), CAST(N'2026-06-05T17:48:42.137' AS DateTime))
INSERT [dbo].[tbl_PurchaseLedger] ([PurchaseID], [ProductID], [SupplierID], [QuantityAdded], [PurchasePrice], [PurchaseDate]) VALUES (2, 2, 101, 30, CAST(45.00 AS Decimal(18, 2)), CAST(N'2026-06-05T17:48:42.137' AS DateTime))
INSERT [dbo].[tbl_PurchaseLedger] ([PurchaseID], [ProductID], [SupplierID], [QuantityAdded], [PurchasePrice], [PurchaseDate]) VALUES (3, 3, 102, 10, CAST(189.99 AS Decimal(18, 2)), CAST(N'2026-06-05T17:48:42.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_PurchaseLedger] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SalesLedger] ON 

INSERT [dbo].[tbl_SalesLedger] ([SalesID], [ProductID], [QuantitySold], [SalePrice], [SaleDate]) VALUES (1, 1, 5, CAST(25.00 AS Decimal(18, 2)), CAST(N'2026-06-05T17:50:49.900' AS DateTime))
INSERT [dbo].[tbl_SalesLedger] ([SalesID], [ProductID], [QuantitySold], [SalePrice], [SaleDate]) VALUES (2, 2, 2, CAST(65.50 AS Decimal(18, 2)), CAST(N'2026-06-05T17:50:49.900' AS DateTime))
INSERT [dbo].[tbl_SalesLedger] ([SalesID], [ProductID], [QuantitySold], [SalePrice], [SaleDate]) VALUES (3, 3, 1, CAST(249.99 AS Decimal(18, 2)), CAST(N'2026-06-05T17:50:49.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_SalesLedger] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Suppliers] ON 

INSERT [dbo].[tbl_Suppliers] ([SupplierID], [CompanyName], [Phone], [CreatedDate], [IsActive], [SupplierCode], [ContactPerson], [ContactPersonNo], [Email], [Country], [State], [City], [PinCode], [Address], [GSTIN], [PAN], [BankName], [AccountHolderName], [AccountType], [AccountNumber], [IFSCCode]) VALUES (1, N'Tech Logistics', N'+1-555-0198', CAST(N'2026-06-05T17:51:27.003' AS DateTime), 1, N'SUP0001', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Suppliers] ([SupplierID], [CompanyName], [Phone], [CreatedDate], [IsActive], [SupplierCode], [ContactPerson], [ContactPersonNo], [Email], [Country], [State], [City], [PinCode], [Address], [GSTIN], [PAN], [BankName], [AccountHolderName], [AccountType], [AccountNumber], [IFSCCode]) VALUES (2, N'Apex Components Ltd', N'+1-555-0147', CAST(N'2026-06-05T17:51:27.003' AS DateTime), 1, N'SUP0002', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Suppliers] ([SupplierID], [CompanyName], [Phone], [CreatedDate], [IsActive], [SupplierCode], [ContactPerson], [ContactPersonNo], [Email], [Country], [State], [City], [PinCode], [Address], [GSTIN], [PAN], [BankName], [AccountHolderName], [AccountType], [AccountNumber], [IFSCCode]) VALUES (3, N'Prime Wholesale Distribution', N'+1-555-0123', CAST(N'2026-06-05T17:51:27.003' AS DateTime), 0, N'SUP0003', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([UserID], [Username], [Password], [FullName], [Role], [IsActive], [CreatedDate]) VALUES (1, N'admin', N'admin123', N'System Administrator', N'Admin', 1, CAST(N'2026-06-05T00:13:59.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_Prod__CA1ECF0D3BAE7D41]    Script Date: 24-Jul-26 5:53:54 PM ******/
ALTER TABLE [dbo].[tbl_Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_User__536C85E4F667CE50]    Script Date: 24-Jul-26 5:53:54 PM ******/
ALTER TABLE [dbo].[tbl_Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Products] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[tbl_Products] ADD  DEFAULT ((10)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[tbl_Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_PurchaseLedger] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[tbl_SalesLedger] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[tbl_Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
