<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>


  <!--<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>-->

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="digitaliconit@gmail.com">
        <network
            host="smtp.gmail.com"
            port="587"
            enableSsl="true"
            userName="digitaliconit@gmail.com"
            password="Kolkata@#1"
            defaultCredentials="true"/>
      </smtp>
    </mailSettings>



  </system.net>

  <connectionStrings>
    <!--<add name="BTSPL222" connectionString="Data Source=164.100.40.23;Initial Catalog=JobSeekerWB;User ID=sa;Password=cscspv@1253" providerName="System.Data.SqlClient"/>
    <add name="BTSPL" connectionString="Data Source=RAJKISHORE-PC;Initial Catalog=WestBagal;User ID=sa;Password=raj@csc" providerName="System.Data.SqlClient"/>-->
    <add name="SgrCon" connectionString="Data Source=DIGITALICONPC1\SQLEXPRESS;Database=db_myskillguru;uid=sa;Password=123" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />

      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="font/eot" />

      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />

      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />

    </staticContent>
  </system.webServer>


  <appSettings>
    <add key="DbCon" value="Data Source=DIGITALICONPC1\SQLEXPRESS;Database=db_diyajobs;uid=sa;Password=123"/>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>

  </appSettings>

  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"  />
      </system.Web>
  -->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
            publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->


  <system.web>
    <!--<pages validateRequest="false" />-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--100GB-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="104960000" executionTimeout="999999"/>
    <pages enableEventValidation="false"  validateRequest="false" />
    <!--<httpRuntime maxRequestLength="999999999" executionTimeout="999999"/>-->

    <compilation debug="true" targetFramework="4.5">
      <!--<assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>-->
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="default.aspx" name="Authenticate" cookieless="UseCookies" timeout="60" protection="All"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="Off"/>
    <sessionState timeout="60"/>
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>